@charset "utf-8";

/* 색상 */
.c_blue {color:#1855a6 !important;}
.c_green {color:#33a94b !important;} 
.c_red {color:#ee2f23 !important;}
.c_sky {color:#1b9ad6 !important;}

.bgc_blue {background-color:#1855a6 !important;}
.bgc_green {background-color:#33a94b !important;}
.bgc_red {background-color:#ee2f23 !important;}
.bgc_sky {background-color:#1b9ad6 !important;}





/* 서비스 정보 */





